
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@lj_demo_cls: lj_demo;
.@{lj_demo_cls} {
  .header_menu {
    line-height: 64px
  }
  .lj_demo_content {
    .ant-layout-content {
      min-height: 768px;
    }
    .ant-menu-submenu {
      border-bottom: 1px solid #eee;
    }
    .container {
      height: 100%;
      .map_container {
        height: 100%;
      }
    }
  }
}
